
Uber-exam/Microservices/bin/Debug/net8.0/appsettings.json
Uber-exam/Microservices/bin/Debug/net8.0/appsettings.Development.json
Uber-exam/Microservices/appsettings.Development.json
Uber-exam/Microservices/appsettings.json
